body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", normal;
  background: #fafafa;
}

nav {
  z-index: 9999;
}
nav .row {
  position: relative;
  padding: 36px 64px;
}
nav .row .nav-left .navbar-brand img {
  max-height: 40px;
}
nav .row .nav-middle .nav-item a {
  color: #bbbdc3;
}
nav .row .nav-middle .nav-item a.active {
  color: white;
  border-bottom: solid 1px white;
}
nav .row .nav-right .nav-item a {
  color: #fff;
}
nav .row .nav-mobile {
  position: absolute;
  background-color: #b1b1b1;
  top: 0;
  right: 0;
  width: 500px;
  z-index: -1;
  border-radius: 5px;
}
nav .row .nav-mobile .navbar-nav {
  padding-top: 50px;
}
nav .row .nav-mobile .navbar-nav .nav-item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
nav .row .nav-mobile .navbar-nav .nav-item a {
  color: white;
}

header {
  padding: 265px 0 290px;
  background-image: url("../../images/header.jpg");
  background-size: cover;
  margin-top: -135px;
  height: 90vh;
}
header p {
  color: #bbbdc3 !important;
  font-size: 22px;
  font-weight: 600;
}
header h1 {
  color: #fff !important;
  font-size: 52px;
  font-weight: 700;
}

main {
  margin-top: -8em;
}
main .judul-status .flight-container {
  padding: 16px 24px;
  display: flex;
  gap: 10px;
  border-radius: 12px 0px 0px 0px;
}
main .judul-status .flight-container p {
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}
main .judul-status .hotel-container {
  padding: 16px 24px;
  display: flex;
  gap: 10px;
  border-radius: 0px 12px 0px 0px;
  background-color: white;
}
main .judul-status .hotel-container p {
  color: black;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}
main .desc-status {
  padding: 24px;
  background-color: #fff;
  gap: 20px;
  background: #ffffff;
  border-radius: 0px 30px 30px 30px;
  align-items: center;
  justify-content: space-evenly;
}
main .desc-status .status-penerbangan {
  cursor: pointer;
  padding: 24px;
  border: 1.5px solid #f3f3f3;
  border-radius: 16px;
  display: flex;
  gap: 10px;
}
main .desc-status .status-penerbangan span {
  padding: 0 20px;
}
main .desc-status .status-penerbangan span img {
  width: 20px;
  height: 42px;
}
main .desc-status .status-penerbangan .status p {
  margin: 0;
}
main .desc-status .status-penerbangan .status p.tujuan {
  font-weight: bold;
}
main .desc-status .status-tgl {
  cursor: pointer;
  padding: 24px;
  border: 1.5px solid #f3f3f3;
  border-radius: 16px;
  display: flex;
  gap: 10px;
}
main .desc-status .status-tgl span img {
  width: 42px;
  height: 42px;
}
main .desc-status .status-tgl .status p {
  margin: 0;
}
main .desc-status .status-tgl .status p.tujuan {
  font-weight: bold;
}
main .desc-status .type-penerbangan {
  cursor: pointer;
  padding: 24px;
  border: 1.5px solid #f3f3f3;
  border-radius: 16px;
  display: flex;
  gap: 10px;
}
main .desc-status .type-penerbangan span img {
  width: 42px;
  height: 42px;
}
main .desc-status .type-penerbangan .status p {
  margin: 0;
}
main .desc-status .type-penerbangan .status p.tujuan {
  font-weight: bold;
}
main .desc-status button {
  width: 101px;
  height: 101px;
  border: none;
  border-radius: 16px;
}

@media screen and (max-width: 922px) {
  nav .row {
    padding: 10px 10px;
  }
  header {
    padding: 265px 0 190px;
    background-image: url("../../images/header.jpg");
    background-size: cover;
    height: 100vh;
  }
  header p {
    color: #bbbdc3 !important;
    font-size: 20px;
    font-weight: 600;
  }
  header h1 {
    color: #fff !important;
    font-size: 27px;
    font-weight: 700;
  }
  main {
    margin-top: 0em;
  }
  main .judul-status .flight-container {
    padding: 16px 24px;
    display: flex;
    gap: 10px;
    border-radius: 12px 0px 0px 0px;
  }
  main .judul-status .flight-container p {
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }
  main .judul-status .hotel-container {
    padding: 16px 24px;
    display: flex;
    gap: 10px;
    border-radius: 0px 12px 0px 0px;
    background-color: white;
  }
  main .judul-status .hotel-container p {
    color: black;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }
  main .desc-status {
    padding: 24px;
    background-color: #fff;
    gap: 20px;
    background: #ffffff;
    border-radius: 0px 30px 30px 30px;
    align-items: center;
    justify-content: space-evenly;
  }
  main .desc-status .status-penerbangan {
    cursor: pointer;
    padding: 24px;
    border: 1.5px solid #f3f3f3;
    border-radius: 16px;
    display: flex;
    gap: 0px;
  }
  main .desc-status .status-penerbangan span {
    padding: 0 20px;
  }
  main .desc-status .status-penerbangan span img {
    width: 20px;
    height: 42px;
  }
  main .desc-status .status-penerbangan .status p {
    margin: 0;
  }
  main .desc-status .status-penerbangan .status p.tujuan {
    font-weight: bold;
  }
  main .desc-status .status-tgl {
    cursor: pointer;
    padding: 24px;
    border: 1.5px solid #f3f3f3;
    border-radius: 16px;
    display: flex;
    gap: 10px;
  }
  main .desc-status .status-tgl span img {
    width: 42px;
    height: 42px;
  }
  main .desc-status .status-tgl .status p {
    margin: 0;
  }
  main .desc-status .status-tgl .status p.tujuan {
    font-weight: bold;
  }
  main .desc-status .type-penerbangan {
    cursor: pointer;
    padding: 24px;
    border: 1.5px solid #f3f3f3;
    border-radius: 16px;
    display: flex;
    gap: 10px;
  }
  main .desc-status .type-penerbangan span img {
    width: 42px;
    height: 42px;
  }
  main .desc-status .type-penerbangan .status p {
    margin: 0;
  }
  main .desc-status .type-penerbangan .status p.tujuan {
    font-weight: bold;
  }
  main .desc-status button {
    width: 101px;
    height: 101px;
    border: none;
    border-radius: 16px;
  }
}/*# sourceMappingURL=main.css.map */